.top-text {
    left: 0;
    background-color: white;
    width: 100%;
    margin-top: 12%;
  &-timeout {
    position: fixed;
    z-index: 1000;
  }
}

.select-account {
  color: $purple-light;
  text-align: center;
  font-size: 3em;
  margin-bottom: 0%;
  &-timeout {
    margin-top: 2%;
  }
}

.account-text {
  font-size: 3em;
  color: $purple-dark;
  margin: 7% 0 0 7%;
  display: inline-block;
  vertical-align: top;
}

.account-box {
  padding: 1% 0 2.5% 4%;
  border-bottom: $border-line;
  width: 94%;
  margin-left: 1%;
}

.image-square {
  display: inline-block;
}

img {
  margin-top: 2em;
  height: 9vh;
  width: 15vw;
}
