@mixin smoothing{
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

@mixin karla{
  font-family: 'Karla', sans-serif;
  font-weight: normal;
}

@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

@mixin profile-icons {
  padding-top: 2%;
  float: right;
  font-size: 3em;
  color: $color-icons;
}

@mixin bar-icons {
  font-size: 8em;
  color: $purple-light;
}

@mixin slider {
  left: 0;
  padding-bottom: 3%;
  background-color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 100;
}

$color-icons: #a0a2a3;

$green-main: rgba( 38,95,95,1);
$green-light: rgba(102,153,153,1);
$green-dark: rgba(  0, 51, 51,1);

$purple-main: rgba( 73, 55, 83, 1);
$purple-light: rgba(174,133,200,1);
$purple-dark: rgba( 39, 17, 51,1);

$pink-main: rgba(128, 52, 95,1);
$pink-light: rgba(224, 150, 192,1);
$pink-dark: rgba( 67,  6, 41,1);

$blue-main: rgba( 40, 77,123,1);
$blue-light: rgba(120,155,200,1);
$blue-dark: rgba(  6, 34, 70,1);

$border-line: 2px #a0a2a3 solid;

button {
  background-color: transparent;
  border: none;
}

html,body {
  padding:0;
  margin:0;
}

a {
  text-decoration: none;
  color: $purple-light;
}
