textarea.block-user-text-box {
  margin-top: 3%;
  color: $color-icons;
  @include karla;
  font-size: 3em;
  text-align: center;
  margin-left: 7%;
  width: 85%;
}

.block-list {
  margin-bottom: 16%;
}

.submit-check-icon {
  padding-top: 2%;
  float: right;
  font-size: 5em;
  color: #a0a2a3;
  display: inline-block;
}
