.bottom-bar {
  background-color: $purple-main;
  height: 7%;
  width: 100%;
  padding: 0 0 3% 0;
  margin:0;
  left: 0;
  bottom: 0;
  position:fixed;
}

.home-icon {
  font-size: 8em;
}

.lists-icon {
  font-size: 8em;
}

.profile-icon {
  font-size: 8em;
}

.message-icon {
  width: 88px;
  font-size: 8em;
}

.icon-box {
  width: 25%;
  display: inline-block;
}

.p-bottom-bar {
  color: $purple-light;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
}
