.lists-box {
  padding: 1% 0 2.5% 4%;
  width: 94%;
  margin-left: 1%;
}

.lists-text-box {
  position: static;
  width: 95%;
  text-align: center;
  border: $border-line;
  padding: 3% 0%;
}

.submit-middle-button {
  width: 100%;
}

.submit-icon {
  padding-top: 5%;
  font-size: 7em;
  color: #a0a2a3;
}
