.top-text {
    left: 0;
    margin-top: 130px;
    background-color: white;
    width: 100%;
}

.back-arrow {
  position: relative;
  height: 10%;
  width: 10%;
  display: inline;
}

.select-colour {
  font
  color: $purple-light;
  font-size: 200px;
  margin: 0;
  display: inline;
}
