@mixin square($color) {
  height: 9vh;
  width: 15vw;
  background-color: $color;
}

$display-box: block;

@mixin box {
  display: $display-box;
  border-bottom: $border-line;
}

.colour-top-text {
    left: 0;
    background-color: white;
    width: 100%;
    display: block;
}

.select-colour-text {
  color: $purple-light;
  text-align: center;
  font-size: 3em;
  margin-left: 0;
  margin-top: 13%;
  width: 88%;
  display: inline-block;
}

.back-arrow {
  font-size: 8em;
  color: $color-icons;
}

.blue-square {
	@include square($blue-main);
  display: inline-block;
}

.green-square {
	@include square($green-main);
  display: inline-block;
}

.pink-square {
	@include square($pink-main);
  display: inline-block;
}

.purple-square {
	@include square($purple-main);
  display: inline-block;
}

.colour-text {
  font-size: 3em;
  color: $purple-dark;
  padding: 4%;
  display: inline-block;
  vertical-align: top;
}

.blue-box {
  @include box;
  padding: 0 0px 4% 4%;

}

.green-box {
  @include box;
  padding: 4% 0 4% 4%;
}

.pink-box {
  @include box;
  padding: 4% 0 4% 4%;
}

.purple-box {
  @include box;
  padding: 4% 0 4% 4%;
}

.arrow-button {
  width: 10%;
  height: 100%;
  display: inline-block;
  margin-left: 2%;
}
