.drafts-timeline {
  margin-bottom: 16%;
}

.drafts-box {
  height: 11vh;
  padding: 1% 0 3.5% 4%;
  border-bottom: $border-line;
  width: 94%;
  margin-left: 1%;
  overflow: hidden;
}

.drafts-draft-text {
  margin: 0;
  width: 97%;
  font-size: 2.8em;
  display: inline-block;
  color: $purple-dark;
}

.drafts-text {
  color: $purple-light;
  text-align: center;
  font-size: 3em;
  margin-left: 0;
  margin-top: 14%;
  width: 80%;
  display: inline-block;
}

.drafts-top-text {
  left: 0;
  background-color: white;
  width: 100%;
}

.drafts-arrow-button {
  vertical-align: middle;
}
