.user-text {
  display: inline-block;
  width: 77%;
  margin-left: 1%;
  position: absolute;
  padding-top: 10px;
}

.username {
  font-size: 2.3em;
  font-weight: bold;
  color: $purple-dark;
  float: left;
  margin: 0;
}

.at-username {
  font-size: 1.7em;
  color: $purple-light;
  float: right;
  margin: 0;
}

.profile-text {
  display: inline-block;
  width: 78%;
  margin-left: 2%;
  position: absolute;
  padding-top: 4%;
}

.following-user-text {
  width: 82%;
  font-size: 2em;
  display: inline-block;
  color: $purple-main;
  overflow: hidden;
  height: 3.6em;
}

.is-following {
  display: block;
}

.not-following {
  display: none;
}

.following-user-icon {
  color: $purple-dark;
  font-size: 8em;
}

.friends-list {
  margin-bottom: 16%;
  padding-top: 24%;
}

.following-button {
  position: absolute;
  padding-top: 4%;
}
