.user-text {
  display: inline-block;
  width: 75%;
  margin-left: 23px;
  position: absolute;
  padding-top: 10px;
}

.username {
  font-size: 3em;
  color: $purple-dark;
  float: left;
  margin: 0;
}

.at-username {
  font-size: 2em;
  color: $purple-light;
  float: right;
  margin: 0;
}

.profile-text {
  display: inline-block;
  width: 77%;
  margin-left: 23px;
  position: absolute;
  padding-top: 45px;
}

.profile-user-text {
  width: 82%;
  font-size: 2em;
  display: inline-block;
  color: $purple-main;
  overflow: hidden;
  height: 3.6em;
}

.following-user-icon {
  float: right;
  display: inline-block;
  padding-top: 30px;
}

.friends-list {
  margin-bottom: 16%;
  padding-top: 24%;
}
