.listmembers-timeline {
  margin-bottom: 16%;
  padding-top: 14%;
}

.lists-following {
  font-size: 3em;
  color: $purple-dark;
  width: 40%;
  margin-left: 2%;
  padding: 21px 0px;
  border-bottom: 2px solid $purple-dark;
}

.top-slider {
  left: 0;
  margin-top: 12%;
  padding-bottom: 3%;
  background-color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 100;
}

.lists-following:first-of-type {
  margin-right: 2%;
}

.add-new-list {
  font-size: 8em;
  color: $color-icons;
}

.list-text {
  font-size: 3em;
  color: $purple-dark;
  padding: 5% 0;
  width: 98%;
}

.lists-button {
  margin-top: 26%;
  position: fixed;
  right: 2%;
}

.lists-list {
  padding-top: 26%;
  margin-bottom: 16%;
  width: 100%;
}
