.list-title{
  @include karla;
  font-size: 4em;
  color: $purple-main;
  text-align: center;
  border-bottom: 2px solid $purple-dark;
  padding: 14% 0 1% 0;
  width: 40%;
  margin: auto;
}

.listmembers-timeline {
  padding-top: 2%;
  margin-bottom: 16%;
  width: 100%;
}

.lists-following {
  font-size: 3em;
  color: $purple-dark;
  width: 40%;
  margin-left: 2%;
  padding: 21px 0px;
  border-bottom: 2px solid $purple-dark;
}

.top-slider {
  @include slider;
  margin-top: 12%;
}

.lists-following:first-of-type {
  margin-right: 2%;
}

.add-new-list {
  font-size: 8em;
  color: $color-icons;
}

.list-text {
  font-size: 3em;
  color: $purple-dark;
  padding: 5% 0;
  width: 98%;
}

.lists-button {
  margin-top: 26%;
  position: fixed;
  right: 2%;
}

.lists-list {
  padding-top: 26%;
  margin-bottom: 16%;
  width: 100%;
}
