.user-heading {
  width: 95%;
  position: absolute;
}

.user-box {
  padding: 5px 0px 15px 20px;
  border-bottom: $border-line;
  width: 96%;
  margin-left: 1%;
}

.user-image {
  height: 150px;
  width: 150px;
  display: inline-block;
  padding-top: 40px;
}

.messages-user-text {
  width: 97%;
  margin-bottom: 0px;
  font-size: 1.8em;
  display: inline-block;
  color: $purple-main;
}

.mini-button-section {
  width: 100%;
}

.tweet-time {
  width: 20%;
  display: inline-block;
}

.time-since-tweet {
  color: $color-icons;
  margin: 0 0 1% 5%;
  font-size: 2.0em;
  display: inline-block;
}

.button-section {
  display: inline-block;
  width: 75%;
}

.button-icon-box {
  width: 32%;
  display: inline-block;
}

.repeat-icon {
  color: $color-icons;
  font-size: 4.5em;
}
