.user-heading {
  width: 95%;
  position: absolute;
}

.user-box {
  padding: 5px 0px 15px 20px;
  border-bottom: $border-line;
  width: 96%;
  margin-left: 1%;
}

.user-image {
  height: 150px;
  width: 150px;
  display: inline-block;
  padding-top: 40px;
}

.messages-user-text {
  width: 90%;
  margin-bottom: 0px;
  font-size: 1.8em;
  display: inline-block;
  color: $purple-main;
}

.mini-button-section {
  width: 100%;
}

.time-since-tweet {
  color: $color-icons;
  margin: 0 0 0 2%;
  font-size: 2em;
}
