.settings-text {
  font-size: 3em;
  color: $purple-dark;
  margin: 7% 0 0 7%;
  width: 82%;
  text-align: center;
  padding: 1% 0% 3% 0%;
  vertical-align: top;
}

.settings-box {
  padding: 1% 0 2.5% 4%;
  border-bottom: $border-line;
  width: 94%;
  margin-left: 1%;
}
