.top-bar {
  background-color: $purple-main;
  padding: 1%;
  margin:0px;
  left: 0;
  top: 0;
  height:6%;
  position:fixed;
  width: 100%;
  z-index: 1000;
}

.search-icon, .timeout-icon, .speech-icon {
  @include bar-icons;
}

.top-button-1 {
  width: 10%;
  height: 100%;
  display: inline-block;
  margin-left: 2%;
}

.right-buttons {
  width: 35%;
  float: right;
}

.top-button-2 {
  margin-left: 20%;
  display: inline-block;
}

.top-button-3 {
  float: right;
  display: inline-block;
  margin-right: 10%;
}

.dropdown-menu {
  text-align: center;
  padding: 2%;
  background-color: white;
  border: $border-line;
}

.menu-text {
  @include karla;
  color: $purple-dark;
  font-size: 3em;
  line-height: 1.5;
}
