.top-bar {
  background-color: $purple-main;
  padding: 1%;
  margin:0px;
  left: 0;
  top: 0;
  height:6%;
  position:fixed;
  width: 100%;
  z-index: 100;
}

.search-icon {
  width: 100%;
  height: inherit;
}

.timeout-icon {
  width: 100%;
  height: inherit;
}

.speech-icon {
  width: 100%;
  height: inherit;
}

.top-button-1 {
  width: 10%;
  height: 100%;
  display: inline-block;
  margin-left: 2%;
}

.top-button-2 {
  width: 10%;
  height: 100%;
  float: right;
  margin-right: 3%;
  display: inline-block;
}
